*.exe
main
test
defaultConstructorGetters_test 
titleAuthorConstructorGetters_test 
fullConstructorGetters_test 
defaultConstructorSetters_test 
titleAuthorConstructorSetters_test 
fullConstructorSetters_test 
estimatedBookWeight_test 
estimatedReadingTime_test 
displayBook_test 
setBook_test